<mat-toolbar class="navbar">
  <!-- Logo y nombre -->
  <div class="logo-container">
    <img src="https://i.imgur.com/pxwiHBD.png" alt="FinanceTrack Logo" class="logo">
    <span class="app-name">FinanceTrack</span>
  </div>

  <!-- Navegación central -->
  <div class="nav-links">
<!--    La clase active le proporciona el focus verde -->
    <a class="nav-item" [ngClass]="{'active': isActive('/')}" (click)="goToHome()">
      <mat-icon>home</mat-icon>
      <span>Principal</span>
    </a>
    <a class="nav-item" [ngClass]="{'active': isActive('/projects')}" (click)="goToProjects()">
      <mat-icon>dashboard</mat-icon>
      <span>Proyectos</span>
    </a>
  </div>

  <!-- Acciones a la derecha -->
  <div class="actions">
    <button mat-icon-button class="notification-btn">
      <mat-icon [matBadge]="3" matBadgeColor="accent">notifications</mat-icon>
    </button>
    <button mat-raised-button color="accent" class="login-btn" (click)="goToLogin()">
      <mat-icon>login</mat-icon>
      <span>Iniciar Sesión</span>
    </button>
  </div>
</mat-toolbar>
